body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.register-page {
  display: flex;
  justify-content: start;
  margin-left: 420px;
}

form {
  background-color: blanchedalmond;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3;
}

#response {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: green;
}
a {
  color: #1e293b;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
}
a:hover {
  color: blueviolet;
  transform: translateY(-2px);
}